.burley-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.burley-monitoring {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.burley-image {
  width: 200px;
  object-fit: cover;
}
.burley-fragment1 {
  display: contents;
}
.burley-text3 {
  display: inline-block;
}
.burley-fragment2 {
  display: contents;
}
.burley-text4 {
  display: inline-block;
}
